#container {
	width:1200px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:11px;
	margin-bottom:21px;
}


#sidebar {
	width: 600px;
	height: 400px;
	background-color: rgba(53,170,212,0.49);
	float: left;
}

#mainbody {
	width: 600px;
	height: 400px;
	background-color: rgba(53,170,212,0.49);
	float: right;
}
#footer{
	height: auto;
	background-color: rgba(211,173,92,0.77);
	clear: both;
}
